// https://bootstrap.hexschool.com/docs/4.2/getting-started/theming/
// 自訂主題化
@import "node_modules/bootstrap/scss/functions";
@import './_variables.scss';
@import "node_modules/bootstrap/scss/bootstrap";


$color-green: #378b68;
$assets-img: '~@/assets/images/';

body{
  background-image: url( $assets-img +'main_background.png') ;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.flex-container {
  display: flex;
}

.flex-item {
  margin: 5px;
}

.todo-text {
  flex-grow: 2;
}

.search-bar {
  flex-grow: 2;
}

.main-card {
  margin-top: 7px;
}


h1 {
  color: $color-green;
}
