
$color-green: #378b68;

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.flex-container {
  display: flex;
}

.flex-item {
  margin: 5px;
}

.todo-text {
  flex-grow: 2;
}

.search-bar {
  flex-grow: 2;
}

.main-card {
  margin-top: 7px;
}


h1 {
  color: $color-green;
}
