body {
  overflow: hidden;
}

#container {
  position: relative;
  /* makes this the origin of its children */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.btn {
  display: block;
  margin: 15px;
  width: 150px;
  border-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.plays {
  position: absolute;
  top: 0;
  left: 0;
}

.gameText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -1px 0 black, 0 1px black,
    1px 0 black, 0 -1px black;

}

#labels {
  position: absolute;
  /* let us position ourself inside the container */
  left: 0;
  /* make our position the top left of the container */
  top: 0;
  color: white;
}

#labels>div {
  position: absolute;
  /* let us position them inside the container */
  left: 0;
  /* make their default position the top left of the container */
  top: 0;
  cursor: pointer;
  /* change the cursor to a hand when over us */
  font-size: 15px;
  user-select: none;
  /* don't let the text get selected */
  text-shadow:
    /* create a black outline */
    -1px -1px 0 #000,
    0 -1px 0 #000,
    1px -1px 0 #000,
    1px 0 0 #000,
    1px 1px 0 #000,
    0 1px 0 #000,
    -1px 1px 0 #000,
    -1px 0 0 #000;
}

#labels>div:hover {
  color: rgb(246, 255, 119);
}

#overlay {
  background: rgb(0,0,0);
  color: #fff;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5000;
  padding-top: 15%;
  float: left;
  text-align: center;
  
}

.spinner {
  margin: 0 auto;
  height: 240px;
  width: 240px;
  animation: rotate 1s infinite linear;
  border: 15px solid firebrick;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}